{
    "extends": [
        "airbnb-base"
    ],
    "plugins": [
        "import"
    ],
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "semi": [
            "error",
            "never"
        ],
        "indent": [
            "error",
            4
        ],
        "import/no-extraneous-dependencies": "off"
    }
}