@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@mixin spinner($d: 4em) {
  width: $d;
  height: $d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
