@mixin squareSpan ($d) {
  position: relative;
  background-color: var(--bgc);

  &::before {
    width: $d;
    content: '';
    display: block;
    padding-top: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-image: var(--url);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
