@import url(//fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Montserrat:400,400i,800,800i);
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig"; }
  p br {
    line-height: 2.2; }

@keyframes style___spin___29DzM {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*
 * Viewport sized typography with minimum and maximum values
 *
 * @author Eduardo Boucas (@eduardoboucas)
 *
 * @param {Number}   $responsive  - Viewport-based size
 * @param {Number}   $min         - Minimum font size (px)
 * @param {Number}   $max         - Maximum font size (px)
 *                                  (optional)
 * @param {Number}   $fallback    - Fallback for viewport-
 *                                  based units (optional)
 *
 * @example scss - 5vw font size (with 50px fallback), 
 *                 minumum of 35px and maximum of 150px
 * @include responsive-font(5vw, 35px, 150px, 50px);
 */
html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; }

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: .05em;
  box-sizing: border-box;
  background-color: #3d4b65;
  color: #444;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

*, *:before, *:after {
  box-sizing: inherit; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dd, dt {
  padding: 0;
  margin: 0; }

a, a:visited {
  text-decoration: none;
  color: inherit; }
  a:link, a:visited:link {
    -webkit-tap-highlight-color: transparent; }

input, textarea {
  border: none;
  outline: none; }

#__next {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start; }

@keyframes Wallet___spin___2zzO3 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*
 * Viewport sized typography with minimum and maximum values
 *
 * @author Eduardo Boucas (@eduardoboucas)
 *
 * @param {Number}   $responsive  - Viewport-based size
 * @param {Number}   $min         - Minimum font size (px)
 * @param {Number}   $max         - Maximum font size (px)
 *                                  (optional)
 * @param {Number}   $fallback    - Fallback for viewport-
 *                                  based units (optional)
 *
 * @example scss - 5vw font size (with 50px fallback), 
 *                 minumum of 35px and maximum of 150px
 * @include responsive-font(5vw, 35px, 150px, 50px);
 */
.Wallet___container___16uIx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.Wallet___hint___1iyiN {
  font-size: 1em;
  margin: .5em;
  opacity: .5; }

@keyframes Nav___spin___1Ts-Q {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*
 * Viewport sized typography with minimum and maximum values
 *
 * @author Eduardo Boucas (@eduardoboucas)
 *
 * @param {Number}   $responsive  - Viewport-based size
 * @param {Number}   $min         - Minimum font size (px)
 * @param {Number}   $max         - Maximum font size (px)
 *                                  (optional)
 * @param {Number}   $fallback    - Fallback for viewport-
 *                                  based units (optional)
 *
 * @example scss - 5vw font size (with 50px fallback), 
 *                 minumum of 35px and maximum of 150px
 * @include responsive-font(5vw, 35px, 150px, 50px);
 */
.Nav___container___3N4CK {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 1em;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(57, 70, 95, 0.96);
  color: #eee; }

.Nav___logo___3J4ct {
  display: flex;
  height: 5em;
  width: 14.34174em;
  margin: .5em 1.25vw; }

.Nav___items___7OyBh {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center; }
  .Nav___items___7OyBh .Nav___item___1NXSS {
    padding: 1em 1.25vw;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #bbbbbb; }
    .Nav___items___7OyBh .Nav___item___1NXSS.Nav___wallet___uTUwb {
      background-color: #333f55;
      padding: 1em 2.5vw;
      margin-left: 1.25vw; }
      .Nav___items___7OyBh .Nav___item___1NXSS.Nav___wallet___uTUwb:hover {
        background-color: #2a3345; }
    .Nav___items___7OyBh .Nav___item___1NXSS:hover {
      color: white; }

.Nav___dummy___13svn {
  padding: 3em 0; }

@keyframes Layout___spin___1TIIv {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*
 * Viewport sized typography with minimum and maximum values
 *
 * @author Eduardo Boucas (@eduardoboucas)
 *
 * @param {Number}   $responsive  - Viewport-based size
 * @param {Number}   $min         - Minimum font size (px)
 * @param {Number}   $max         - Maximum font size (px)
 *                                  (optional)
 * @param {Number}   $fallback    - Fallback for viewport-
 *                                  based units (optional)
 *
 * @example scss - 5vw font size (with 50px fallback), 
 *                 minumum of 35px and maximum of 150px
 * @include responsive-font(5vw, 35px, 150px, 50px);
 */
.Layout___main-container___2i5LX {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center; }

.Layout___main-container___2i5LX h1, .Layout___main-container___2i5LX h2, .Layout___main-container___2i5LX h3, .Layout___main-container___2i5LX h4, .Layout___main-container___2i5LX h5, .Layout___main-container___2i5LX h6,
header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {
  padding: .25em 0;
  margin: .5em 0;
  display: inline-block; }

.Layout___main-container___2i5LX h1, .Layout___main-container___2i5LX h2,
header h1,
header h2 {
  font-family: Montserrat, serif, Lato, sans-serif;
  font-weight: 700;
  line-height: 1.12; }

.Layout___main-container___2i5LX h1,
header h1 {
  font-size: 4em;
  max-width: 8em; }

.Layout___main-container___2i5LX h2,
header h2 {
  font-size: 2em; }

.Layout___main-container___2i5LX h4,
header h4 {
  font-size: 1.1em; }

@keyframes MissionData___spin___2d1k8 {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*
 * Viewport sized typography with minimum and maximum values
 *
 * @author Eduardo Boucas (@eduardoboucas)
 *
 * @param {Number}   $responsive  - Viewport-based size
 * @param {Number}   $min         - Minimum font size (px)
 * @param {Number}   $max         - Maximum font size (px)
 *                                  (optional)
 * @param {Number}   $fallback    - Fallback for viewport-
 *                                  based units (optional)
 *
 * @example scss - 5vw font size (with 50px fallback), 
 *                 minumum of 35px and maximum of 150px
 * @include responsive-font(5vw, 35px, 150px, 50px);
 */
.MissionData___container___1aipx {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 1em;
  background-color: white;
  width: 7em;
  height: 9em; }

.MissionData___status___3nZaU {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 1em;
  height: 1em; }

.MissionData___spinner___7CjsW {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: MissionData___spin___2d1k8 1s linear infinite;
  border: solid 2px;
  border-color: #4055ae #4055ae transparent transparent; }

.MissionData___checkmark___YkQCr {
  display: inline-block; }
  .MissionData___checkmark___YkQCr:after {
    content: '';
    display: block;
    width: 0.5em;
    height: 0.8em;
    border: solid #4055ae;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }

.MissionData___crossmark___2OoIW {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .MissionData___crossmark___2OoIW:before, .MissionData___crossmark___2OoIW:after {
    content: '';
    width: 0.2em;
    height: 1em;
    background: #ea29a9; }
  .MissionData___crossmark___2OoIW:before {
    margin-right: -1.5px;
    transform: rotate(45deg); }
  .MissionData___crossmark___2OoIW:after {
    margin-left: -1.5px;
    transform: rotate(135deg); }

.MissionData___image___15fBI {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 6em;
  height: 6em;
  flex-shrink: 0; }
  .MissionData___image___15fBI > img {
    width: 100%;
    height: 100%; }
    .MissionData___image___15fBI > img[data-erc20] {
      width: 70%;
      height: 70%; }

.MissionData___content___32zQ1 {
  margin: 0;
  font-weight: bolder;
  color: #4055ae; }

@keyframes Missions___spin___1qSTf {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/*
 * Viewport sized typography with minimum and maximum values
 *
 * @author Eduardo Boucas (@eduardoboucas)
 *
 * @param {Number}   $responsive  - Viewport-based size
 * @param {Number}   $min         - Minimum font size (px)
 * @param {Number}   $max         - Maximum font size (px)
 *                                  (optional)
 * @param {Number}   $fallback    - Fallback for viewport-
 *                                  based units (optional)
 *
 * @example scss - 5vw font size (with 50px fallback), 
 *                 minumum of 35px and maximum of 150px
 * @include responsive-font(5vw, 35px, 150px, 50px);
 */
.Missions___container___3IOgH {
  padding: 2em 20vw; }

.Missions___title___2qGzw {
  color: #eee; }

.Missions___mission___1nLmF {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  padding: 1em; }

.Missions___requirements___2JEvw {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  overflow: scroll; }
  .Missions___requirements___2JEvw > div {
    margin-left: 1em;
    flex-shrink: 0; }

.Missions___divider___1i9vq {
  margin: 0 2em 0 auto;
  padding-left: 2em;
  border-right: dashed 1px #eee; }

.Missions___reward___1rGdO {
  margin-right: 2em;
  flex-shrink: 0; }

.Missions___get___x_Urk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5em;
  height: 3em;
  padding: .5em;
  margin: auto 0;
  font-weight: bold;
  color: #eee;
  background-color: #cc148e;
  border-radius: 0.5em;
  border: none;
  outline: none;
  transition: .24s ease-out;
  cursor: not-allowed; }
  .Missions___get___x_Urk > h4, .Missions___get___x_Urk p {
    margin: 0; }
  .Missions___get___x_Urk > p {
    font-size: 0.75em;
    color: #bbbbbb; }
  .Missions___get___x_Urk[data-active="true"] {
    cursor: pointer; }
    .Missions___get___x_Urk[data-active="true"]:hover {
      transform: scale(1.1); }

.Missions___viewTx___9M-wA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5em;
  flex-shrink: 0;
  height: 3em;
  padding: .5em;
  margin: auto 0;
  font-weight: bold;
  background-color: #5d71c4;
  border-radius: 0.5em;
  transition: .24s ease-out;
  cursor: pointer; }
  .Missions___viewTx___9M-wA:hover {
    transform: scale(1.1); }
  .Missions___viewTx___9M-wA > h5 {
    color: #eee; }


/*# sourceMappingURL=styles.chunk.css.map*/